<nav class="navbar navbar-default top-nav-collapse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lauraMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">photozine</a>
            </div>
            <div class="collapse navbar-collapse" id="lauraMenu">
              <ul class="nav navbar-nav navbar-right navbar-border">
                <li class="active"><a href="/">Home</a></li>
                <li class=""><a href="/photos">View all photos</a></li>
                <% if(!isAuthenticated) {%>
                <li class=""><a href="/users/login">Login</a></li>
                <li class=""><a href="/users/signup">Register now</a></li>
                <% } else { %>
                <li class=""><a href="/photos/new">Upload a photo</a></li>
                <li class=""><a href="/zines">My zines</a></li>
                <li class=""><a href="/users/profile"><%= user.local.email%></a></li>
                <li class=""><a href="/users/logout">Logout</a></li>
              </ul>
              <%}%>
            </div>
          </div>
        </nav>
