<% photos.forEach(function(photo) { %>
  <a href=<%= "/photos/" + photo._id %>><img src="<%= photo.url %>" width="500" height="392" alt="image not available"></a>
  <br>
  <strong><%= photo.title %></strong>
  <br>
  <%= photo.description %>
<%})%>
