<div class="container">
  <h1>Which zine(s) would you like to add this photo to?</h1>
  <br>

  <form method="POST" action=<%= "/photos/" + photo + "/addtozine?_method=PUT"%>>
    <%zine.forEach(function(zine) {%>
      <!--<pre><%=zine%></pre>-->
      <%var count = 0%>
      <%for(var i = 0; i < zine.photo.length; i++) {%>
        <%var photoStr = zine.photo[i].toString()%>
        <%if(photoStr === photo) {%>
          <%count++%>
        <%}%>
      <%}%>
      <%if(count === 0) {%>

        <div class="checkbox">
          <label><input type="checkbox" value=<%=zine._id%> name="id"><%= zine.name %></label>
        </div>
      <%}%>
    <%})%>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
