<!--<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Photozine</h1>
  </div>
</div>-->

<div class="header">
<div class="bg-color">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow fadeIn delay-05s animated" style="visibility: visible; animation-name: fadeIn;">
            <div class="banner-text">
              <%if(!isAuthenticated) {%>

                <h2>Welcome to photozine</h2>
              <%} else {%>
                <h2>Welcome, <%=user.local.email%></h2>

              <%}%>
              <!--<p>A platform for photographers to share their work <br>and for people to create their own unique zines</p>-->
            </div>
            <div class="overlay-detail text-center">
              <a href="#about-1"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="about-1" class="section-padding wow fadeIn delay-05s animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-right">
          <h2 class="title-text">
          <span class="deco-1">photozine</span>
          </h2>
        </div>
        <div class="col-md-6 text-left">
          <div class="about-text-1">
            <p>A platform for lens-based artists to publish and share their work. Make your images tangible and publish your work with minimal effort, money and time</p>
            <p>&nbsp;</p>
            <p>Join the zine culture and share your work with a community of like-minded individuals who share the same passion for photography</p>
            <p>&nbsp;</p>
            <!--<ul class="abt-list">
              <li>- Excepteur sint occaecat cupidatat non proident.</li>
              <li>- Duis aute irure dolor in reprehenderit.</li>
              <li>- Ask the experts.</li>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
  </section>
<section id="about" class="section-padding wow fadeIn delay-05s animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-right">
          <h2 class="title-text">
          <span class="deco">photozine</span>
          </h2>
        </div>
        <div class="col-md-6 text-left">
          <div class="about-text">
            <p>Upload photos and start your own unique zine, or browse through our collection of photos and start your very own curation based on any theme that you want</p>
            <p>&nbsp;</p>
            <p>In this day and age where everything is viewed digitally, there is something special about seeing photos in print and holding a tangible product in your hands</p>
            <p>&nbsp;</p>
            <!--<ul class="abt-list">
              <li>- Excepteur sint occaecat cupidatat non proident.</li>
              <li>- Duis aute irure dolor in reprehenderit.</li>
              <li>- Ask the experts.</li>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
  </section>
