<h1>Please login</h1>
<form class="" action="" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email" placeholder="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="password">
  </div>
  <button type="submit" class="btn btn-default" name="button">Submit</button>
</form>
